.list {
    margin: 0;
    padding: 0;
    width: 568px;
    list-style: none;
    overflow: auto;
    display: flex;
    height: 464px;
    gap: 16px;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 536px;
}

.text {
    display: flex;
    gap:8px;
    align-items: center;
}

.board {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}